header {
  width: 100%;
  background-color: white;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
}

.row:first-child {
  padding-right: auto;
}

.logo-link img {
  /* margin: 10px; */
  align-items: center;
  height: 50px;
  width: auto;
}

.logo-link:link,
.logo-link:visited {
  font-family: sans-serif;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.5;
  transition: all 0.5s ease;
}

.logo-link:hover,
.logo-link:active {
  color: #666;
}

.logo-text {
  text-align: center;
}

.logo-subtext {
  font-weight: 530;
  color: #444;
  text-align: center;
}

.holder {
  display: flex;
}
.info {
  margin: 0 20px 0 20px;
  display: flex;
}
.icon {
  font-size: 35px;
  margin: 0 20px 0 20px;
}
.icon img {
  background-image: linear-gradient(135deg, #003366, #00aaff);
  background-clip: border-box;
  -webkit-background-clip: text;
  /* color: transparent; */
  height: 45px;
  width: 45px;
}
.line1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}
.line2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
