body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    
}
.slide-wrapper{
    position: absolute;
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
    top:800px;
    height:800px;
}
.slider{
    display: flex;
    aspect-ratio: 15/9;
    overflow-x: auto;
    scroll-snap-type: x-mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0 ,0% ,0% , 0.25);

}
.slider img {
    flex: 1 0 100%; 
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap:1rem;
    position: absolute;
    bottom: 1.2rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    position: absolute;
    top: 200px;
    width: 5px;
    height:0.5rem;
    border-radius: 50%;
    border-color: red;
    /* opacity: 1; */
    transition: opacity ease 250ms;
}
#imagebg{
    background-image: url(../images_industries/image1main.webp);
    position: absolute;
    top:175px;
    height: 450px;
    width: 100%;
}
#pagedesc{
    position: absolute;
    left:44%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    top:160px;
}
#padedesc_2{
    position: absolute;
    left:49%;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    top:290px;

}
#bg-image{
    position: absolute;
    top: 175px;
    background-image: url("/image1main.webp");
    width: 100%;
    height: 450px;;
}
#mainheading{
    position: absolute;
    top:650px;
    font-size: 45px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    left:150px;
}
#imagebox{
    position:absolute;
    top:850px;
    height:550px;
    width:85%;
    left:100px;
}
.gridbox{
    position: absolute;
    top:1400px;
    left:-50px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    /* left:15px; */
    /* justify-content: space-evenly; */
    justify-self: auto;

}
.griditem{
    display: flex;
    position:relative;
    left:100px;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width:450px;
}
.logoimage{
    height: 100px;
    width: 100px;
}
.item_desc{
    position: relative;
    left:15px;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    width:150px;
}